/*==============================================================================================
========================================== LOGIN ===============================================
==============================================================================================*/
.form-signin:after{
	top: auto;
	margin-top: 7px;
}

.brand img{
	height: 29px;
}

.signInRow{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

.signInRow a{
	font-size: 11px;
}

.mid-box{
	margin: 60px auto 50px auto;
	width: 100%;
}

.form-signin input[type="text"]{
	/*min-width: 0px;*/
	width: 180px;
}

.form-signin input[type="password"]{
	width: 153px;
	/*min-width: 0px;*/
}

.input-prepend .add-on{
	width:auto;	
}

/*==============================================================================================
======================================== DASHBOARD =============================================
==============================================================================================*/
.circleAvatar img{
	border-radius: 50%;
}
.btn-post-indicator{
	cursor: default;
}

.floatingBoxContainers li p{
	padding: 0px 5px 0px 0px;
	margin-left: 45px;
}

.floatingBoxContainers li p.headLine{
	margin: 5px 0px;
}

.compose-icons {
	top: 2px;
	left: 550px;
	position: absolute;
	width: 200px;
}

.compose-icons a {
	margin-left: 2px;
	margin-right: 2px;
}

.compose-icons a:hover {
	text-decoration: none;
}

.compose-innercontainer {
	position: relative;
}

.compose-innercontainer textarea {
	height: 22px;    
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


.compose-expanded {
	position: absolute;
	z-index: 999;
	background: #EFEFEF;
	padding: 15px;
	border: 1px solid #CCC;
	margin-left: 45px;
}

.compose-expanded .compose-icons {
	top: 190px;
}

.compose-expanded textarea {
	height: 150px;
	margin-top: 50px;
}

.breadcrumb {
	margin-top: 0px;
}

.compose-expanded .compose-url-shortener {
	margin-top: 10px;
	border: 0px solid #F00;
}


.compose-expanded .compose-form{
	width: 585px;
	margin-top: 15px;
	border: #CCC 1px solid;
	padding: 15px;
	float: left;
	margin-bottom: 0px;
}

#reply-url-show, .compose-form{
	width: 100%;
	border: #CCC 1px solid;
	float: left;
	margin-bottom: 0px;
}
  
.img-attached
{
	background: #e2e2e3;
	position: relative;
}

.compose-expanded .compose-form-control {
	float: left;
	display: inline;
	padding: 5px;
}

.compose-expanded .compose-form-control label {
	float: left;
	display: inline;
	padding-top: 5px;
	margin-right: 5px;
	width: 65px;
}
.compose-expanded .compose-form-control div {
	float: left;
	display: inline;
	width: 95%;
	border: 0px solid #F00;
}

.compose-expanded .compose-form-submit {
	clear: both;
	text-align: right;
	padding: 5px;
}

.compose-expanded .compose-send {
	margin-top: 10px;
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
	float: left;
	width: 100%;
}

.compose-expanded .compose-send p {
	float: left;
}

.compose-expanded .compose-send button {
	float: right;
}

.compose-expanded .compose-channel-select {
	margin-top: 15px;
	clear: both;
}

.compose-expanded .compose-channel-select p {
	display: inline;
}

.compose-expanded input{
	margin-bottom: 0px;
}

.compose-collapsed .compose-url-shortener, .compose-collapsed .compose-form, .compose-collapsed .compose-form-control, .compose-collapsed .compose-send, .compose-collapsed .compose-channel-select {
	display: none;
}

.left
{
	float: left;
}

.right{
	float: right;
}

select.type-search
{

	font-size: 11px;
	float: left;
	margin-right: 5px;
	width: 100px;
	padding: 3px 5px 4px 5px;
	margin-top: 0px;
	
	background: url(../img/select-arrow.png) no-repeat center right;
	border: 1px solid #a9a9a9;

	webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
	
	height: 22px;

	line-height: normal;

    text-indent: 0.01px;
    text-overflow: '';


	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ref a
{
	display: block;
	padding:5px 8px;
	margin-right: 8px;

	background-color: #c5c5c5; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#c5c5c5));
	 background-image: -webkit-linear-gradient(top, #dddddd, #c5c5c5); 
	background-image:    -moz-linear-gradient(top, #dddddd, #c5c5c5);
	background-image:     -ms-linear-gradient(top, #dddddd, #c5c5c5);
	background-image:      -o-linear-gradient(top, #dddddd, #c5c5c5);

	-moz-box-shadow:  0px 1px 2px #dddddd;
	-webkit-box-shadow: 0px 1px 2px #dddddd;
	box-shadow: 0px 1px 2px #dddddd;
	border: 1px solid #CCCCCC;
  
}

.ref a:active
{
	background: #a5a5a5;
	cursor: pointer;
}

.post-channel
{
	float: left;
	width: 95%;
	border: 0px solid #F00;
	padding: 0px 0px;
	position: absolute;
	top: 10px;
}

.left label
{
	margin-right: 10px;
	margin-top: 5px;
}

.form-float
{
	width: 100%;
	float: left;
	margin: 10px 0;
	border: 1px solid #F00;
}

.form-float select{
	font-size: 12px;
	float: left;
	margin-right: 5px;
	width: 100px;
	padding: 3px 5px 4px 5px;
	margin-top: 0px;
	
	background:#FFFFFF url(../img/select-arrow.png) no-repeat center right;
	border: 1px solid #F00;

	webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
	


	line-height: normal;

    text-indent: 0.01px;
    text-overflow: '';


	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}

.clear
{
	clear: both;
}

.top10
{
	margin:10px 0px; 
}


select.standard-sel{
	font-size: 12px;
	float: left;
	margin-right: 5px;
	width: 180px;
	padding: 3px 5px 4px 5px;
	margin-top: 0px;
	
	background:#FFFFFF url(../img/select-arrow.png) no-repeat center right;
	border: 1px solid #cccccc;

	webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
	


	line-height: normal;

    text-indent: 0.01px;
    text-overflow: '';


	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}

.compose-link a 
{
	text-decoration: none;
	margin: 5px;
}

#img-show, #cal-show, #url-show
{
	display: none;
}

a#close-img, a#close-cal, a#close-url, a#close-reply-url-show, a#close-reply-img-show
{
	position: absolute;
	color: #111111;
	top: -10px;
	right: -5px;
	text-decoration: none;
}

.img-list-upload
{
	border: 0px solid #F00;
	float: left;
	width: 100%;
}

.img-place
{
	position: relative;
	width: 130px;
	height: 90px;
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

.img-place img
{
	height: 100%;
}

a#remove-img, a#reply-remove-img
{
	position: absolute;
	color: #FF0000;
	top: -12px;
	left: 0px;
	text-decoration: none;
	display: none;
}

a#closecompose
{
	color: #111111;
	text-decoration: none;
}


select.time-sel{
	font-size: 12px;
	float: left;
	margin-right: 5px;
	width: 80px;
	padding: 3px 5px 4px 5px;
	margin-top: 0px;
	
	background:#FFFFFF url(../img/select-arrow.png) no-repeat center right;
	border: 1px solid #cccccc;

	webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
	


	line-height: normal;

    text-indent: 0.01px;
    text-overflow: '';


	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}

.fb-bg
{
	background: #3f5d99;
	color: #FFFFFF;
}

.tw-bg
{
	background: #1dccfb;
	color: #FFFFFF;
}

.yu-bg
{
	background: #cf1611;
	color: #FFFFFF;
}


select.stream-sel{
	font-size: 12px;
	float: left;
	margin-right: 0px;
	width: 130px;
	padding: 3px 5px 4px 5px;
	margin-top: 0px;
	
	background:#FFFFFF url(../img/select-arrow.png) no-repeat center right;
	border: 1px solid #cccccc;

	webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
	


	line-height: normal;

    text-indent: 0.01px;
    text-overflow: '';


	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}

.trans
{
	background:transparent;
	border: 0 none;
	color: #FFFFFF;
	padding: 0px 5px;
}

.trans:hover, .trans:active
{
	background:transparent;
	border: 0 none;
	color: #000;

	 -webkit-box-shadow: none;
    box-shadow: none;
}

.caret
{
	border-top: 4px solid #FFF;
}

.btn-purple{
	background-color: #F054F0;
	color: #FFF;
}

.btn-purple:hover,
.btn-purple:focus
{
	background-color: #D448D4;
	color: #FFF;
}

#url-show .img-url{
	width: 40%;
	float: left;
}

#reply-url-show .img-url{
	width: 100%;
}

#url-show .content-url{
	width: 55%;
	margin-left: 5%;
	float: right;
	text-align: left;
}

#reply-url-show .content-url{
	margin-top: 10px;
	width: 100%;
	text-align: left;
}

#reply-url-show .content-url p{
	margin-left: 0px;
}

#reply-url-show .content-url input{
	width: 55%;
}

#reply-url-show .content-url textarea{
	width: 95%;
}

#url-show .content-url textarea{
	margin-top: 0px;
	resize: none;
	white-space: normal;
	overflow-y: scroll;
}

.compose-post-status{
	width: 100%;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
}

.engagement-btn-close{
	margin-right: 5px;
}

.engagement-btn-hide-show{
	margin-right: 5px;
}

.engagement > div.floatingBox{
	margin-bottom: 0px;
}

.btn-engagement{
	color: #33B5E5;
	cursor: pointer;
}

.btn-show-video{
	color: #000000;
	cursor: pointer;
}

.btn-mark-as-read{
	cursor: pointer;
}

.btn-mark-as-unread{
	cursor: pointer;
}

.btn-close{
	cursor: pointer;
}

#reply-url-show{
	background-color: #e2e2e3; margin: 10px 0px;;
}

.reply-field, .reply-engagement-field, .dm-field{
	background-color: #BABABA;
	margin-top: -10px;
	padding: 10px;
}

.reply-field textarea, .reply-engagement-field textarea, .dm-field textarea{
	height: 100px;
	width: 95%;
	white-space: normal;
}

.reply-field .row-fluid, .reply-engagement-field .row-fluid, .dm-field .row-fluid{
	margin: 0px;
}

.reply-field .reply-status, .reply-engagement-field .reply-status, .dm-field .reply-status{
	margin-top: 10px;
	background-color: #00FF04;
	color: white;
	text-align: center;
}

.reply-field .reply-insert-link-text, .reply-engagement-field .reply-insert-link-text{
	width: 50%;
	margin-bottom: 0px;
}


.reply-field .reply-insert-link-btn, .reply-engagement-field .reply-insert-link-btn{
	margin-left: 5px;
}

.case-field, .case-engagement-field{
	background-color: #BABABA;
	margin-top: -10px;
	padding: 10px;
}

.case-field textarea, .case-engagement-field textarea{
	height: 100px;
	width: 95%;
	white-space: normal;
}

.case-field .row-fluid, .case-engagement-field .row-fluid{
	margin: 0px;
}

.case-field .btn-add-related, .case-engagement-field .btn-add-related{
	margin-bottom: 10px;
}

.modal .related-conversation-body .author{
	margin-left: 10px;
}

#reply-img-show{
	background-color: #f2f2f2;
	margin: 10px 0px;
}

#reply-img-show .dummyfile{
	margin-top: 10px;
	padding: 0px 5px;
}

#reply-img-show .dummyfile #replyfilename{
	margin-bottom: 0px;
}

#reply-img-show .reply-img-list-upload{
	float: left;
	width: 100%;
	padding: 0px 5px;
}

#reply-img-show .reply-img-list-upload .img-place{
	margin-bottom: 10px;
}

#reply-img-show .reply-img-attached{
	padding: 10px;
}

a#reply-img-close{
	color: #111111;
	top: -10px;
	right: -5px;
	padding: 10px;
}

.dropdown-stream-channels>li>a {
	cursor: pointer;
}

div.read-mark {
    float: left;
    position: relative;
    top: -4px;
    left: 4px;
    cursor: pointer;
}

.stream_head li a{
	cursor: pointer;
}

.btn-dropdown-stream-channels{
	height: 20px;
}

.stream_head .notifyCircle{
	left: auto;
	right: -10px;
}

input.related-conversation-check{
	margin: 0px;
}

.attachment-modal img{
	max-height: 100%;
	max-width: 550px;
}

.attachment-modal{
	height: 500px;
	text-align: center;
	background-color: transparent;
	box-shadow: none;
}

.attachment-modal button.close{
	background-color: #fff;
	margin-left: -24px;
	padding: 4px;
	position: absolute;
}

.specialToggleTable{
	cursor: pointer;
}

.btn-reply-open-img{
	float: right;
}

.subStream{
	overflow: auto;
	display: block;
	height: 87%;
	background-color: #FFFFFF;
	padding-top: 20px;
}

.boxStream div.floatingBoxMenu, .boxStream div.floatingBoxMenu .nav{
	margin-bottom: 10px;
}

input[type="text"].compose-new-message{
	display: none;
	width: 60%;
	margin-bottom: 0px;
}

.new-compose-message-fields input{
	margin-bottom: 0px;
}

.btn-search-mini{
	display: none;
}

#compose-tags-reply{
	border-style: none;
}

.img_attachment{
	width: 40%;
}

.assign-case ul.dropdown-menu li{
	background-color: #ffffff;
	border: none;
	margin-bottom: 0px;
}

.multiselect-group{
	font-weight: bold;
	text-decoration: underline;
}

ul.tagit{
	padding: 0px;
}
/*==============================================================================================
======================================== C M S =================================================
==============================================================================================*/

.cms-content{
	border: solid 1px #C9C9C9;
	background-color: #F7F7F7;
}

.cms-table{
	width: 75%;
	background-color: #FFFFFF;
	padding: 10px 10px 40px 10px;
}

.cms-filter{
	width: 20%;
	padding: 10px;
}

.cms-filter .btn{
	margin: 3px 0;
	width: 100%;
	text-align: left;
}

.cms-table .page a{
	border: solid 1px #C9C9C9;
	padding: 5px 10px;
	color: #0C70B3;
	font-weight: bold;
	
}

.cms-table .page .active{
	border: solid 1px #C9C9C9;
	padding: 5px 10px;
	background-color: #0C70B3;
	font-weight: bold;
	color: #FFFFFF;
}

.cms-table thead{
	background-color: #c5c5c5; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#c5c5c5));
	background-image: -webkit-linear-gradient(top, #F5F5F5, #c5c5c5); 
	background-image:    -moz-linear-gradient(top, #F5F5F5, #c5c5c5);
	background-image:     -ms-linear-gradient(top, #F5F5F5, #c5c5c5);
	background-image:      -o-linear-gradient(top, #F5F5F5, #c5c5c5);

	-moz-box-shadow:  0px 1px 2px #dddddd;
	-webkit-box-shadow: 0px 1px 2px #dddddd;
	box-shadow: 0px 1px 2px #dddddd;
}

.cms-table .table-sub thead{
	background-color: #BFBADE;
	background-image: none;
}

.floatingBox > div.campaignForm{
	border: solid 1px #C9C9C9;
	background-color: #F7F7F7;
	padding: 0px;
	margin: 0px;
}

.floatingBox > div.campaignForm .contentForm{
	margin: 0px;
}

.floatingBox > div.campaignForm .contentForm .control-group{
	border-bottom: solid 1px #C9C9C9;
	padding: 20px 20px;
	margin: 0px;
}

.floatingBox > div.campaignForm .contentForm .control-group .control-label{
	text-align: left;
}

.floatingBox > div.campaignForm .contentForm .control-group input{
	background-color: #D1D1D1;
}

.floatingBox > div.campaignForm .contentForm .control-group textarea{
	background-color: #D1D1D1;
}

.floatingBox > div.campaignForm .contentForm .control-group select{
	background-color: #D1D1D1;
}

.floatingBox > div.campaignForm .contentForm .control-group .btn-group button{
	background-color: #D1D1D1;
}

/*==============================================================================================
======================================== SIDEBAR =================================================
==============================================================================================*/
.hiddenContent{
	position: fixed;
}

.hiddenContent .tasksList li{
	padding: 0px;
	margin: 0px;
	width: 100%;
	margin-bottom: 10px;
}

.hiddenContent .tasksList .notifHead{
	padding: 10px;
	color: #FFF;
}

.hiddenContent .tasksList .notifBody{
	padding: 10px;
}

.sidebarContent{
	text-align: left;
}

.sidebarContent .sidebarHead .title{
	font-size: 14px;
	font-weight: bold;
}

.sidebarContent .sidebarHead .notifTotal{
	background-color: #BABABA;
	font-weight: normal;
	color: #FFF;
	border-radius: 20%;
	padding: 2px 7px;
	font-size: 12px;
}

.sidebarContent .sidebarLine{
	width: 100%;
	border-bottom: solid 1px #BABABA;
	margin-bottom: 8px;
}

.sidebarInfo .newCases{
	margin-top: 10px;
}

.sidebarContent .btn-close{
	font-size: 10px;
}

#updateProfile .sidebarContent .profileInfo textarea.about-me{
	height: 150px;
	width: 175px;
}
/*==============================================================================================
======================================== USERS =================================================
==============================================================================================*/

#jqxTree{
	color: black;
}

#jqxTree .jqx-tree-item-li{
	left: auto;
}

#jqxTree .jqx-checkbox{
	margin-top: 6.5px;
}
#jqxTree .jqx-widget{margin-top:7px !important}}

.alert ul.error-list li{
	border: none;
	margin: 0;
	list-style:  disc;
	background: none;
}

.btn-group ul.dropdown-menu{
	height: 150px;
	overflow-y: scroll;
}

/*==============================================================================================
======================================== PUBLISHER =============================================
==============================================================================================*/
.fc-button{position: static;}
.fc-header-title h2 {line-height: 0px;font-size: 18px;font-weight: bold;margin-top: 20px;}
.tooltip-event{z-index: 1;position: absolute;background: #DBDBDB;border: solid 1px black;margin: 5px;width: 250px;padding: 10px 5px 5px 5px;border-radius: 3px;}
.tooltip-event .tooltip-content{background: white;width: 100%;margin-top:5px;border-radius:3px;}
.tooltip-event .tooltip-content .tooltip-content-head{padding: 5px;font-size: 16px;border-bottom: solid 1px;font-weight: bold;}
.tooltip-event .tooltip-content .tooltip-content-body{padding: 5px;}
.no-pointer {cursor: default !important}
.pointer{cursor: pointer !important}
.indicator button, .indicator .btn{cursor: default }
.indicator .btn.btn-purple, .indicator .twitter-case-related{cursor: pointer !important}

.floatingBoxContainers li .link p{margin: 0;width: auto;}
p.snippet, .engagement-body p{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.link{cursor: pointer}
.link-description{float: left; position:relative; padding: 5px;width:65%;overflow: hidden;}
.link-description p{text-align: left !important;}
.sidebarContent{height: 600px;overflow-y: scroll}
.link-description{overflow: hidden !important}
p.post-content{overflow: hidden}
